<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js"></script>
<link th:href="@{/css/MyStyle.css}" rel="stylesheet">
<link rel="stylesheet" href="/css/index.css">
<title>View Chart</title>
</head>
<body>
 <a href="#" th:href="@{http://localhost:8080/collectChartData}" role=button class="btn btn-info text-light">http://localhost:8080/collectChartData</a>
<div class="chartMenu">
<div class="card-header">
<h2>Corona Virus Death Report</h2>
</div>
<div class="card">
<canvas id="canvas"></canvas>
</div>
</div>
<script type="text/javascript">
var xmlHttp=new XMLHttpRequest();
var url="http://localhost:8080/collectChartData";
xmlHttp.open("GET",url,true);
xmlHttp.send();
xmlHttp.onreadystatechange=function()
{
	if(this.readyState==4 && this.status==200)
		{
		var data=JSON.parse(this.responseText);
		  console.log(data)
		  country=data.map(function(elem)
            {
			  return elem.country;
			})
			  //console.log(country);
		  
		  	latestTotalDeaths=data.map(function(elem){
			  return elem.latestTotalDeaths;
			 })
			 //console.log(latestTotalDeaths);
			 const ctx = document.getElementById('canvas').getContext('2d');

		     new Chart(ctx, {
		     type: 'bar',
		     data: {
		       labels: country,
		      datasets: [{
		        label: 'DeathsCount',
		        data: latestTotalDeaths,
		        backgroundColor:"#ff335e",
		        borderWidth: 1
		      }]
		    },
		    options: {
		      scales: {
		        y: {
		          beginAtZero: true
		        }
		      }
		    }
		  });
	  }
	
	}
</script>
</body>
</html>